<nav class="navbar">
    <img src="images/logo.svg" alt="Logo" class="logo" />
    <div class="flex-nav">
        <div class="nav-links">
            <li><a href="/" class="nav-link active">Home</a></li>
            <li><a href="/employee" class="nav-link">Employee</a></li>
        </div>
        <img src="images/userprofile.svg" alt="Logo" class="userprofile" />
    </div>
</nav>

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        color: #1b262c;
        display: flex;
        list-style-type: none;
        margin-right: 181px;
        gap: 50px;
        font-size: 18px;
    }

    .nav-link {
        text-decoration: none;
        color: black;
    }

    .active {
        text-decoration: underline solid 2px;
        text-underline-offset: 8px;
    }

    .flex-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 161px;
        height: 57px;
    }

    .userprofile {
        height: 35px;
        width: 35px;
        border-radius: 0px;
        padding-right: 10px;
    }
</style>
<script>
    const links = document.querySelectorAll('.nav-link');

    if (links.length) {
        links.forEach((link) => {
            link.addEventListener('click', (e) => {
                links.forEach((link) => {
                    link.classList.remove('active');
                });
                e.preventDefault();
                link.classList.add('active');
                // Get the href attribute of the clicked link
                const href = link.getAttribute('href');

                // Change the URL to the clicked link's href
                // window.location.href = href;
            });
        });
    }
</script>
