<div class="team-lead-container">
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
    <div class="team-lead">
        <img class="team-lead-img" src="images/p1.svg" alt="" />
        <div class="team-lead-des">
            <h1>Suman Rana</h1>
            <p>HOD, Full Stack Developer</p>
        </div>
    </div>
</div>

<style>
    .team-lead-container {
        display: grid;
        grid: auto / 290px 290px 290px 290px;
        justify-content: space-between;
        align-items: center;
        margin: 80px 10px;
        gap: 55px 0;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    .team-lead {
        display: grid;
        justify-content: center;
        background: #e7e7e7;
        border-radius: 20px;
        height: 130px;
        width: 290px;
        border-radius: 20px;
    }
    .team-lead-img {
        position: relative;
        display: flex;
        height: 85px;
        width: 85px;
        left: 25%;
        bottom: 30%;
        border-radius: 0px;
    }
    .team-lead-des {
        position: relative;
        width: 173px;
        height: 48px;
        bottom: 50%;
    }
    .team-lead-des h1 {
        position: relative;
        font-family: var(--global-font-family);
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        margin: 0;
        /* identical to box height */

        letter-spacing: 0.03em;
    }
    .team-lead-des p {
        position: relative;
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        margin: 3px;
        /* identical to box height */
        color: #0f4c75;
        letter-spacing: 0.03em;
    }
</style>
